# macOS cache
**/.DS_Store

# vim buffer
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific
EfficientDet/test/
EfficientDet/logs/
